<div class="col-5 p-4">
  <a class="angled-img" href="/game/{{id}}">
    <div class="img img-offset">
      <img src="/images/street-fighter.jpg" alt="" srcset="" sizes="(max-width: 500px) 100vw, 500px">
    </div>
    <div class="bottom-info">
      <h1>{{game}}</h1>
      <div class="row">
        <div class="rating-back h2">
          {{score}}/10
        </div>
      </div>
    </div>
  </a>

</div>

<style>
  .angled-img {
    display: flex;
  }
</style>