<div class="col-6 p-4">
  <a class="angled-img" href="/game/{{id}}">
    <div class="img ">
      <img src="/images/street-fighter.jpg" alt="" srcset="" sizes="(max-width: 500px) , 500px">
    </div>
  </a>
  <div>
    <h3 style="color: #f2700b">{{game}}</h3>
    <div>
      <p class="cyber-fnt">
        Rating: {{score}}/10
      <p>
    </div>
  </div>
</div>

<style>
  .angled-img {
    display: flex;
  }
</style>