<div class="column p-3">
  <a class="angled-img" href="/game/{{id}}">
    <div class="img img-offset">
      <img width="500" height="220" src="" alt="" srcset="" sizes="(max-width: 500px) 100vw, 500px">
    </div>
    <div class="bottom-info">
      <h3 class="title">{{game}}</h3>
      <div class="row">
        <div class="col-12">
          <div class="rating-back h2">
            {{score}}/10
          </div>
        </div>
      </div>
    </div>
  </a>

</div>

<style>
  .angled-img {
    display: flex;
  }
</style>