<a class="angled-img search-game-btn" href="/result/{{name}}">
  <div class="img-offset">
    <img src={{box_art_url}} alt="" />
  </div>
  <h1 class="game-name" data-name={{name}}>{{name}}</h1>
</a>


<style>
  .angled-img {
    display: flex;
  }
</style>