<section class="books-list">
  <main>
    <div class="chartjs-size-monitor">
      <div class="chartjs-size-monitor-expand">
        <div class=""></div>
      </div>
      <div class="chartjs-size-monitor-shrink">
        <div class=""></div>
      </div>
    </div>
    <div
      class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2" id="dash-title">Dashboard</h1>
      <div class="btn-toolbar mb-2 mb-md-0"></div>
    </div>
  </main>

  <div class="book-database">
    <div class="container-fluid">
      {{#each user.games as |game|}}
      <a href="/game/{{game.id}}"><img src="{{game.image_url}}" alt=""></a>
      {{/each}}
    </div>

  </div>
</section>

<script src="/javascript/dashboard.js"></script>
{{!-- <div class="container-fluid">
  {{#each user.games as |game|}}
  <a href='/game/{{game.id}}'><img src="game.image_url" alt="game.title cover" </a>
    {{/each}}
</div> --}}