<div>
  <!-- Breadcrumbs-->
  <nav
    style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
    aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/home">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page"><a href='/genre/{{genreTitle}}'>Genre: {{genreTitle}}</a>
      </li>
    </ol>
  </nav>

  <section class="categories">
    <div class="category-header">
      <h1>{{genreTitle}}</h1>
    </div>
  </section>

  {{#if genres}}
  <section class="home" id="home">
    <div class="container-fluid">
      <div class="row">
        {{#each genres as |game|}}
        {{> genre-details}}
        {{/each}}
      </div>
    </div>
</div>
</section>

{{else}}
<div class="container-fluid justify-content-center">
  <div class="row">
    <h2>Sorry, there are no games in this genre.
    </h2>
  </div>
</div>
{{/if}}

</div>