<div class="text-light">
  <!-- Breadcrumbs-->
  <nav class="pt-3 pb-2 px-3 bc-bg"
    style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
    aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/home">Home</a></li>
      <li class="breadcrumb-item inactive" aria-current="page">Genre: {{genreTitle}}</li>
    </ol>
  </nav>

  <section class="categories p-3">
    <div class="header">
      <h1>{{genreTitle}} Games</h1>
    </div>
  </section>

  {{#if genres}}
  <div class="column">
    <div class="row flex-wrap">
      {{#each genres as |game|}}
      {{> genre-details}}
      {{/each}}
    </div>
  </div>
</div>

{{else}}
<div class="container-fluid justify-content-center">
  <div class="row">
    <h3 class="h3-color">Sorry, there are no games in this genre.
    </h3>
  </div>
</div>
{{/if}}

</div>