<div class="content">
  <div>
    <h1>Welcome Back , <br> {{user.name}}! </h1>
  </div>
  <div>
    <h2>Featured Games</h2>
  </div>

</div>


<div class="container autoplay">
  {{#each games}}
  <div class="card">
    <h3 id="gamename">
      <a href="/game/{{id}}">{{game}}</a>
    </h3>
    <div id="gameCover"></div>

    <div class="card-body">
      {{!-- {{body}} --}}
    </div>
    <!-- <div class="bar">
      <div class="emptybar"></div>
      <div class="filledbar"></div>
    </div>
    <div class="circle">

    </div> -->
  </div>
  {{/each}}
</div>
<div id="videoplayer">
 <iframe width="370" height="209" src="https://www.youtube.com/embed/uF9u10sFW7A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay=; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
    <div class="containertopgame">
      <div class="topgamesname"><h2><font color="white"> TOP </font><br>  GAMES</h2></div>
      <div class="topgames">
        <a href="/game/939">
      <img src="../images/blackops.jpg" alt="" >
      </a>
      </div>
         <div class="topgames">
           <a href="/game/401">
      <img src="../images/gta5.jpg" alt="">
      </a>
      </div>
      <div class="topgames">
        <a href="/game/133">
      <img src="../images/minecraft.jpg" alt="">
      </a>
    </div>
    <div class="topgames">
      <a href="/game/1147">
      <img src="../images/counterstrike.jpg" alt="">
      </a>
    </div>
    <div class="topgames">
      <a href="/game/2">
      <img src="../images/mariokart.jpg" alt="">
      </a>
    </div>
  </div>
<style>
  .nav-item a[href="/home"] {
    background-color: red;
  }
</style>

<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js"></script>

<script rel='stylesheet' type="text/javascript" src="../public/stylesheets/dashboard.css"></script>
<script src="/javascript/home-page.js"></script>