<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEST</title>
</head>
<body>
    <input id="search" type="text">

    <button id="searchBtn">PLEASE USE THIS TO SEARCH SOMETHING</button>

    <div id="gameCover" class="gameImage"></div>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="../public/javascript/puttingCoverOnPageTEST.js"></script>
</html>