<section class="showcase">
    <header>
        <h2 class="logo"></h2>
        <div class="toggle"></div>
    </header>
    <video src="./public/images/nexusvideo.mp4" muted loop autoplay></video>
    <div class="overlay"></div>
    <div class="text">
        
        {{!-- Login and Signup Routes --}}
        <a href="/login">Log In</a>
        <a href="/signup">Sign Up</a>
    </div>
    <ul class="social">
        <li><a href="#"><img src="https://i.ibb.co/x7P24fL/facebook.png"></a></li>
        <li><a href="#"><img src="https://i.ibb.co/Wnxq2Nq/twitter.png"></a></li>
        <li><a href="#"><img src="https://i.ibb.co/ySwtH4B/instagram.png"></a></li>
    </ul>
</section>