<link rel="stylesheet" href="/stylesheets/genre.css">
<div class="text-light">
  <!--Breadcrumbs-->
  <nav class="pt-3 pb-2 px-3 bc-bg"
    style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
    aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/home">Home</a></li>
      <li class="breadcrumb-item inactive" aria-current="page">Search: {{searchedTerm}}</li>
    </ol>
  </nav>

  {{!-- Header --}}
  <h1 class="p-3">Results for: {{searchedTerm}}</h1>

  {{!-- content --}}
  {{#if gameArr}}
  <div class="container-fluid">
    {{#each gameArr}}
    <div class="p-4 row">
      {{> search-result}}
    </div>
    {{/each}}
  </div>

  {{else}}
  <div class="container-fluid">
    <div class="row">
      <h3 class="h2-color">Sorry, there are no games for this search.
      </h3>
    </div>
  </div>
  {{/if}}


</div>
<script src="/javascript/favorites.js"></script>
<script src="/javascript/search.js"></script>
<script src="/javascript/result.js"></script>