<div class="login-wrap">
  <div class="login-html">

        <div class ="col-lg-6 offset-lg-5">
          
    <input id="tab-1" type="radio" name="tab" class="sign-in"  /><a href="/login"  for="tab-1" class="tab">Log In</a>
    <input id="tab-2" type="radio" name="tab" class="sign-up" checked/><a href="/signup" for="tab-2" class="tab">Sign Up</a>
    </div>

    <div class="login-form">
        {{!-- class="container mx-auto" --}}
      <form id="sign-up-htm" class="sign-up-htm col-lg-6 offset-lg-3">
        <div class="group">
          <label for="name-signup" class="label">Username</label>
          <input id="name-signup" type="text" class="input" />
        </div>
        <div class="group">
          <label for="email-signup" class="label">Email Address</label>
          <input id="email-signup" type="text" class="input" />
        </div>
        <div class="group">
          <label for="password-signup" class="label">Password</label>
          <input id="password-signup" type="password" class="input" data-type="password"/>
        </div>
        <div class="group">
            <button type="submit" id="signup-btn" class="button">Sign Up</button>
        </div>
        <div class="hr"></div>
      </form>
    </div>

  </div>
</div>

<script src="/javascript/signup.js"></script>