.genre-link {
  color: white;
}

#genresection {
  margin-left: 10rem;
  margin-right: 5rem;
}

.h3-color {
  color: gray;
}

.bc-bg {
  background: rgb(242,112,11);
background: radial-gradient(circle, rgba(242,112,11,1) 12%, rgba(255,0,0,1) 65%);
  opacity: 75;
  border-radius: 10px;
}

.bc-bg a {
  color: white;
}

.categories h1 {
  position: relative;
  left: 15vw;
  font-size: 40px;
  padding-bottom: 28px;
}

.genre .angled-img {
  display: inline-flex;
}

.genre #redgenre {
  background-color: red;
  border-radius: 7px;
}


