@font-face {
  font-family: ZeroFont ;
  src: url(../Fonts/RapierZero-325M.ttf);
}

.SIGNOUT, .dropdown {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: lighter;
  text-decoration: none;
  list-style:disc;
}

.SIGNOUT:hover {
  color: red;
}

.wrapper {
  display: grid;
  grid-template-columns: 280px 1fr;
}

.sidebar {
  /* display: block;
  position: fixed; */
  max-height: 100vh;
  min-height: 100vh;
  background: rgb(38, 37, 40);
  background: linear-gradient(180deg, rgba(38, 37, 40, 1) 5%, rgba(32, 31, 35, 1) 26%, rgba(16, 14, 23, 1) 65%);
}

body {
  background: rgb(32, 29, 43);
  background: radial-gradient(circle, rgba(32, 29, 43, 1) 16%, rgba(16, 14, 23, 1) 67%);
  font-family: ZeroFont;
}

.container {
  position: absolute;
  height: 300px;
  width: 800px;
  top: 280px;
  left: calc(55% - 300px);
  display: flex;
}

.card {
  display: flex;
  height: 280px;
  width: 200px;
  background-color: #17141d;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
  /*   margin-left: -50px; */
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
}

.card img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;

}

.nexuslogo img {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  display: flexbox;

}

.card:not(:first-child) {
  margin-left: -50px;
}

.card:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.card:hover~.card {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
}

.title {
  color: white;
  font-weight: 300;
  position: absolute;
  left: 20px;
  top: 15px;
}



.card:hover .filledbar {
  width: 120px;
  transition: 0.4s ease-out;
}

.circle {
  position: absolute;
  bottom: -4rem;
  left: calc(50% - 60px);
}


.stroke {
  stroke: white;
  stroke-dasharray: 360;
  stroke-dashoffset: 360;
  transition: 0.6s ease-out;
}

svg {
  fill: #17141d;
  stroke-width: 2px;
}

.card:hover .stroke {
  stroke-dashoffset: 100;
  transition: 0.6s ease-out;
}

.search {
  margin-bottom: 20px;
}

.nav a:link {
  text-decoration: none;
}

.nav a:hover {
  text-decoration: none;
  color: white;
}
.content .nav.nav-pills.nav-justified {
  background-color: rgba(0, 0, 0, 0.151);
  padding-bottom: 5px;
}

.nav a {
  padding-top: 15px;
  font-size: 20px;
  font-weight: lighter;
}

.nav-pills .nav-link.active {
  background-color: red;
}

.nav-pills .nav-link:hover {
  background-color: red;
}

h1 {
  color: rgba(255, 0, 0, 0.925);
  justify-content: end;
  padding-left: 60px;
  padding-top: 40px;
  margin-left: 20px;
  font-size: 30px;
  text-transform: capitalize;
  filter: drop-shadow(10px 10px 4px #000000);
}

h2 {
  color: rgba(255, 0, 0, 0.925);
  display: flex;
  justify-content: center;
  position: relative;
  top: 0px;
  padding-left: 60px;
  padding-top: 40px;
  margin-left: 20px;
  font-size: 35px;
  text-transform: capitalize;
  filter: drop-shadow(10px 10px 4px #000000);
}

.btn.btn-outline-danger {
  color: red ;
  

}

.btn.btn-outline-danger:hover {
  color: white ;
  background-color: red;

}

.underline {
  border-bottom: 1px solid rgb(109, 109, 109);
  padding-bottom: -1px;
  margin-bottom: 10px;
}

.underline2 {
  border-bottom: 1px solid rgb(109, 109, 109);
  padding-bottom: -1px;
  padding-top: 6px;
  margin-bottom: 10px;
}
  

.nav-link {
  color: rgb(253, 253, 253);
}

footer {
  color: rgba(128, 128, 128, 0.164);
  display: flex;
  align-content: center;
  position: relative;
  justify-content: center;
  margin-left: 4rem;
  margin-top: 10px;
  padding-bottom: 1px;
}


#sidebarcon {
  position: fixed;
  width: 15.8%;

}

.dropdown {
  position: fixed;
  bottom: 0;
  padding-bottom: 5px;
}



