.search .bc-bg {
  background: rgb(242, 112, 11);
  background: radial-gradient(circle, rgba(242, 112, 11, 1) 12%, rgba(255, 0, 0, 1) 65%);
  opacity: 75;
  border-radius: 10px;
}

.search .bc-bg a {
  color: white;
}

.search h1 {
  text-align: center;
}

.search .column {
  margin-left: 10rem;
  margin-right: 5rem;
}

.search .bottom-info {
  margin-left: 20px;
}

.search .angled-img {
  display: inline-flex;
}
